/*
.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.pagination {}
.pagination .current.prev {background:url(/images/frame/page_li_up.png) no-repeat;}
.pagination .current.next {background:url(/images/frame/page_li_down.png) no-repeat;}
.pagination .current {background:url(/images/frame/page_li_bg.png) no-repeat; height:27px; width:27px; float:left; line-height:27px; margin:0 2px;}
.pagination a, .pagination span { width:19px; height:27px; display:block; padding-left:8px;}
*/
.pagination { position:absolute; }
.pagination .prev {background:url(/images/frame/page_li_up.png) no-repeat;}
.pagination .next {background:url(/images/frame/page_li_down.png) no-repeat;}
.pagination .current {background:url(/images/frame/page_li_bg.png) no-repeat; height:27px; width:22px; float:left; line-height:27px; margin:0 2px;}
.pagination a, .pagination span {background:url(/images/frame/page_li_bg.png) no-repeat; width:22px; height:27px; line-height:27px; padding-left:8px; float:left;}
